*{
    margin: 10;
}

html{
    background-image: url(https://cdn.pixabay.com/photo/2014/09/26/05/31/night-461707_960_720.jpg);
    background-position: no-repeat;
    background-position: center center;
    height: 1000px;
    background-color: gray;
    background-size: cover;
}

.central{
    background-color: rgba(152, 149, 155, 0);color: rgba(232, 16, 88, 0.752);
    text-align: center;
    overflow: hidden;
    padding: 30px;
    font-family:Arial, Helvetica, sans-serif
}

ul{
    list-style: none;
}

.lista > li{
    text-align: center;
    display: inline-block;
    padding: 60px 40px;
}

.lista li a{
    background-color: rgb(78, 182, 186);
    color: rgba(10, 10, 10, 0.679);
    text-decoration: none;
    padding: 20px 100px;
    display: inline-block;
}

.lista li a:hover{
    background-color: rgb(9, 90, 90);
}

.lista li ul{
    display:none;
    position:relative;
    min-width: 10px;    
}

.lista li:hover>ul{
    display:block;
}

.lista li ul li{
    position: relative;
}

.costumbres{
    color: rgb(79, 35, 141);
    font-size: 20px;
    background-color: rgba(152, 149, 155, 0.752);
    margin: 0;
}

.font{
    text-align: center;
    color: rgb(0, 255, 221);
}

div.galeria{
    margin:10px 20px;

    float: right;
    width: 250px;
}
div.galeria img{
    width: 100%;
    height: auto;
}

div.maori{
    background-color: rgba(0, 0, 0, 0.697);
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
.subtitulo{
    color: rgb(64, 255, 0);
}
